.area{
    display: flex;
    text-align: center;
    margin-top: 10vh;
    .a1{
        h1{
            font-size: calc(2rem + 1.8vw);
            width: 100%;
            span{
                margin-left: 8px;
            }
        }
        .buttons{
            display: flex;
            align-items: center;
            flex-direction: column;
            .btn-explore{
                height: 3.4rem;
                width: 18rem;
            }
        }
    }
    .a2{
        display: flex;
        div{
            text-align: center;
        }
        img{
            width: 100%;
        }
    }
}
.blueprint{
    img{
        width: 100%;
    }
}
.devs-area{
    margin-top: 60px;
    margin-bottom: 60px;
    overflow-x: hidden;
}
@media (max-width: 768px) {
    area{
        display: none;
        .a2{
            display: none;
        }
    }
}