.area{
    display: flex;
    text-align: center;
    margin-top: 10vh;
    .a1{
        h1{
            font-size: calc(3rem + 1.8vw);
            font-family: 'Posterman';
            letter-spacing: 5px;
            width: 100%;
            span{
                margin-left: 8px;
                color: #C25E84;
            }
        }
        .buttons{
            display: flex;
            align-items: center;
            flex-direction: column;
            .btnExplore{
                height: 3.4rem;
                width: 18rem;
            }
        }
    }
    .a2{
        display: flex;
        .div{
            text-align: center;
        }
        a{
            text-decoration: none;
            width: 100%;
            img{
                width: 100%;
            }
            &:hover img{
                opacity: 0.7;
            }
        }
    }
}
.blueprint{
    img{
        width: 100%;
    }
}
.devsArea{
    margin-top: 60px;
    margin-bottom: 60px;
    overflow-x: hidden;
}
@media (max-width: 853px) {
    .area{
        display: block;
        .a2{width: 90%;}
        .a1{
            width: 100%;
            h1{
                font-size: calc(3rem + 1.8vw);
            }
        }
    }
}

@media (max-width: 527px) {
    .area{
        .a1{
            h1{
                font-size: calc(3rem);
            }
        }
    }
}

@media (max-width: 458px) {
    .area{
        .a1{
            h1{
                font-size: calc(2rem + 1vw);
            }
        }
    }
}
@media (max-width: 370px) {
    .area{
        .a1{
            h1{
                font-size: calc(7vw);
            }
        }
    }
}