.navbar {
    background-color: #ECE6E8;
    box-shadow: 0 4px 6px #c4bec0;
    .navbar-brand{
        margin-left: 30px;
        margin-top: 6px;
    }
    a{
        margin: 6px 16px;
    }
    form{
        margin: 0.5rem 4rem;
        width: 60vw;
        height: 2.7rem;
    }
    .mobile{
        display: none;
    }
}
@media (max-width: 991px) {
    .navbar{
        .navbar-nav{
            display: none;
        }
        .pc{
            display: none;
        }
        .mobile{
            display: inline-block;
        }
    }
}